#root {
  width: 820px;
  height:85vh;
  overflow-y: scroll;

  background-color: #0b0a0f;

  border: 1px solid #7a3cff;
  box-shadow: 1px 1px 7px 2px rgb(138, 68, 255, 0.35);

 
  /* علشان يختفي في كل المتصفحات */

  scrollbar-width: none; /* للـFirefox*/
  -ms-overflow-style: none; /* للـIE وEdge*/

  margin: 0 auto;
  padding: 3rem;
  text-align: center;

  color: black;
  border-radius: 50px;
}

::selection {
  background: #7a3cff; /* موف نيون */
}

/* للـChrome وSafari Edge*/
#root::-webkit-scrollbar {
  display: none;
}

.app {
  color: white;
}
.Head {
  color: white;
  display: flex;
  justify-content: center;
  gap: 100px;

  padding-bottom: 40px;
}
.Head h1 {
  color: #c28cff;
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Head img {
  padding-top: 40px;
  width: 50px;
  height: 50px;
}

.flex {
  display: flex;
  padding: 0 100px;
}

.flex button {
  border-radius: 0px 14px 14px 0px;
  box-shadow: -1px 2px 1px 0px #666;
  border: none;
  font-weight: 600;
  font-size: medium;
  font-family: inherit;
  margin-bottom: 2px;
  cursor: pointer;
  padding: 10px 50px;
  background-color: #8f4bff;
  /* background: linear-gradient(90deg, #c7fff6 5%, #3b9bd6 100%); */
}

.add .taskInput {
  width: 350px;
  height: 30px;
  border-radius: 15px 0px 0px 15px;
  background-color: #0b0a0f;
  box-shadow: 2px -0px 12px -1px rgb(138, 68, 255, 0.35);
  border: none;
  padding-left: 25px;
  color: white;
}

input:focus {
  outline: none;
}

.item {
  background-color: #0b0a0f;
  box-shadow: 2px -0px 12px -1px rgb(138, 68, 255, 0.35);
  padding: 10px 20px;
  border-radius: 20px;
}

.task .item {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  font-weight: 500;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  cursor: pointer;
}

.task .item img {
  width: 20px;
}

.task .item li {
  list-style: none;
}

.task {
  margin-top: 20px;
}

.edit img {
  padding-right: 10px;
  margin-bottom: -3px;
}

.circle {
  width: 22px;
  height: 22px;
  border: 2px solid rgb(129, 108, 177);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.taskInput {
  padding: 12px 110px 12px 15px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.dateInput {
  margin-bottom: 10px;

  border: none;
  background: transparent;
  font-size: 13px;

  /* عشان شكلها يبان كأنها جزء من نفس الحقل */
  color: #ffffff;
}

.time {
  font-weight: 300;
  font-size: medium;
  margin-right: 20px;
  margin-left: 10px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 100px;
}

.tabs button {
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
  background-color: #45355e;
  cursor: pointer;
}
.tabs button:hover {
  background-color: #45355e;
  transition: 0.3s;
}

.tabs button.activeTab {
  /* background-color: #3d9dd4; */
  background-color: rgb(154, 46, 255);
}

select {
  width: 100px;
  height: 54px;
  border-radius: 0px 0px 0px 0px;
  background-color: #0b0a0f;
  box-shadow: 0px -0px 12px -1px rgb(138, 68, 255, 0.35);
  border: none;
  padding-left: 25px;
  color: white;
}

.priority.high {
  background-color: #ffd6d6;
  color: #ad2828;
  border-radius: 5px;
  padding: 2px 3px;
  font-size: medium;
}
.priority.low {
  background-color: #dcffdc;
  color: #228b22;
  border-radius: 5px;
  padding: 2px 3px;
  font-size: medium;
}
.priority.medium {
  background-color: #f5e8cf;
  color: #915d1b;
  border-radius: 5px;
  padding: 2px 3px;
  font-size: medium;
}

.item span {
  max-width: 40%;
  word-break: break-word;
}

.DeleteAll {
  width: 33px;
  cursor: pointer;
}

.Toaster {
  position: "top-center";
  background: #8f4bff;
  color: white;
}

/* ===============================
   Mobile Small Screens (≤480px)
   =============================== */
@media (max-width: 480px) {
  #root {
    width: 80%;
    height: 90vh;
    padding: 1.5rem;
    border-radius: 50px;
  }

  .Head {
    gap: 20px;
    padding-bottom: 20px;
  }

  .Head img {
    width: 40px;
    height: 40px;
  }

  .flex {
    flex-direction: column;
    padding: 0;
    gap: 10px;
  }

  .add .taskInput {
    width: 50%;
    border-radius: 15px;
    margin: auto;
  }

  select {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    padding-left: 15px;
  }

  .flex button {
    width: 100%;
    border-radius: 15px;
    padding: 12px;
  }

  .tabs {
    padding: 0;
    gap: 8px;
   
  }

  .tabs button {
    flex: 1 1 30%;
    font-size: 14px;
  }

  .task ul {
    padding: 0;
    margin: 0 auto;
  }

  .task .item {
    flex-direction: column;
    align-items: flex-start;
    font-size: medium;
  }

  .item span {
    max-width: 100%;
  }

  .item div {
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .time {
    font-size: 12px;
    margin: 0;
  }

  .DeleteAll {
    width: 26px;
    
  }
}

/* ===============================
   Mobile Large Screens (481px–767px)
   =============================== */
@media (min-width: 481px) and (max-width: 767px) {
  #root {
    width: 100%;
    max-width: 600px;
    padding: 1.5rem;
    border-radius: 20px;
  }

  .Head {
    gap: 40px;
  }

  .flex {
    padding: 0;
    gap: 12px;
  }

  .add .taskInput {
    width: 100%;
  }

  select {
    width: 120px;
    height: 48px;
    font-size: 14px;
  }

  .flex button {
    padding: 12px 30px;
  }

  .tabs {
    padding: 0;
    gap: 12px;
  }

  .tabs button {
    padding: 6px 22px;
    font-size: 14px;
  }

  .task ul {
    padding: 0;
    margin: 0 auto;
  }

  .task .item {
    font-size: large;
    flex-direction: column;
    align-items: flex-start;
  }

  .item div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .time {
    font-size: 13px;
  }
}




@media (width: 540px) {
  #root {
    width: 100%;
    max-width: 820px;
    height: 100vh;
    padding: 2rem;
    border-radius: 30px;
  }

  .Head {
    gap: 80px;
    padding-bottom: 30px;
  }

  .flex {
    padding: 10 80px;
    gap: 5px;
  }

  .add .taskInput {
    width: 100%;
    max-width: 420px;
    height: 35px;
    transform: translateX(10px)
  }

  select {
    width: 120px;
    height: 60px;
    font-size: 15px;
  }

  .flex button {
    padding: 9px 40px;
    font-size: 15px;
  }

  .tabs {
    padding: 0 40px;
    gap: 16px;
  }

  .tabs button {
    padding: 6px 26px;
    font-size: 15px;
  }

  .task ul {
    padding: 0;
    margin: 0 auto;
  }

  .task .item {
    font-size: larger;
    padding: 14px 20px;
    margin-top: 15px;
  }
  

  .item span{
    max-width: 100%;
  }

    .item div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
     gap: 14px;
    justify-content: space-between;
  }




  .time {
    font-size: 14px;
  }
}


/* ===============================
   Tablet Screens (768px–1024px)
   =============================== */
@media (min-width: 768px) and (max-width: 1024px) {

  #root {
    width: 80%;
    max-width: 820px;
    height: 90vh;
    padding: 2rem;
    border-radius: 50px;
  }

  .Head {
    gap: 80px;
    padding-bottom: 30px;
  }

  .flex {
    padding: 0 40px;
    gap: 5px;
 
  }

  .add .taskInput {
    width: 100%;
    max-width: 420px; 
    height: 35px;
     transform: translateX(10px);
  }

  select {
    width: 120px;
    height: 60px;
    font-size: 15px;
  }

  .flex button {
    padding: 9px 50px;
    font-size: 15px;
    margin-bottom: 2px;
  }

  .tabs {
    padding: 0 40px;
    gap: 16px;
  }

  .tabs button {
    padding: 6px 26px;
    font-size: 15px;
  }

    .task ul {
    padding: 0;
    margin: 0 auto;
  }

  .task .item {
    font-size: larger;
    padding: 14px 20px;
  }

  .item div {
    gap: 14px;
  }

  .time {
    font-size: 14px;
  }
}
